<!-- Loop over each object in the projects array -->
{{#each trips as |trip| }}
<div>
  <h3><a href='/trip/{{trip.id}}'>{{trip.description}}</a></h3>
  <p>Starts on {{format_date trip.start_date}} and lasts for {{trip.duration}} days.</p>
  <p>{{trip.destination.city}}/{{trip.destination.country}}</p>
  <p>Total budget: {{trip.totalBudget}} vs. Total spent: {{trip.totalSpent}}</p>
  <hr>
</div>
{{/each}}