<form class="form">
  <div class="form-group">
    <h2>{{description}}</h2>
    <p>{{destination.city}}, {{destination.country}}</p>
    <p>{{format_date start_date}} for {{duration}} days.</p>
  <hr>
  <h3>Expenses</h3>
  <ul id="expense-list">
  {{#each expenses as |expense|}}
  <li>{{expense.category}} Budget: {{expense.budget}} Spent: {{expense.spent}}</li>
  {{/each}}
  </ul>
</form>