<h3>{{destination.city}},{{destination.country}}</h3>

<p>From:{{start_date}}</p>
<p>Duration:{{duration}}</p>
<p>Trip Budget:{{budget}} </p>
<p>Hotel Costs:{{}} </p>
<p>Food Costs:{{}} </p>
<p>Transportation Costs:{{}} </p>
<p>Entertainment Costs: {{}}</p>
<p>Misc. Costs:{{}}</p>
<p>Spent on Trip:{{spent}} </p>